* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f3f6;
}

.bg-blue {
    background-color: #48afff;
}

.nav-height {
    height: 4.5rem;
}

.strike1 {
    font-size: 0.9rem;
    color: red;
}

.strike2 {
    /* font-size: ; */
    color: black !important;
}

.card-button-font-size {
    font-size: 0.6rem;

}

.border-none {
    border: none;
}

.input-width {
    height: 42px;
    background-color: white;
    width: 27rem;
    padding-left: 10px;
    padding-right: 10px;
    /* border: 1px solid black; */
    border-radius: 7px 0px 0px 7px;
    border-right: none;
    outline: none;

}

/* .input-width:focus{
    border: 1px solid black; 
    border-left:none;
} */

.input-icon {
    height: 42px;
    background-color: white;
    width: 40px;
    border-radius: 0px 7px 7px 0px;
    background-color: white;
    color: #48afff;
}

.grid-card2-width {
    width: 50%;
    /* height: 60% !important; */
}

.btn-light {
    color: #48afff;
}

.button-grid {
    font-size: 0.7rem;
}

.navbar-Position {
    top: 0px;
    z-index: 100;
    /* opacity: 0; */
}

.owl-carousel2 {
    margin-top: 80px !important;
}

.width1 {
    width: 190px;
    text-align: end !important;
}

.margin0 {
    margin-left: -9%;
}

.width2 {
    width: 100%;
}

.c-b {
    border-width: 20%;
    border: solid #f1f3f6;
}

.m-b-0 {
    margin-bottom: 0px;
}

.back-img {
    z-index: 55;

    background-image: url(./image/section-earbuds-bg-md.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* background-size: cover 100px !important; */
}

.wrap1 {
    flex-wrap: wrap !important;
}

.grid-main-image {
    width: 80% !important;
}

.opasity {
    opacity: 0;
}

.card-width {
    width: 250px;
    height: 320px;
}

.card-img-width {
    width: 120px;
    height: 120px;
}

div .card-width {
    background-color: #ffff;
}

.align-content-evenly1 {
    align-content: space-evenly;
}




.grid-p {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1.5fr 1fr 1fr;
}

#grid-c1 {
    grid-row: 1/3;

}

.grid-m {
    margin: 0px 80px;
}

@media (max-width:1100px) {
    .media-1 {
        grid-template-columns: 50% 50%;

    }

    .grid-main-image {
        width: 90% !important;
    }


    .back-img {
        background-color: #f83e87;
    }
}

@media (max-width:800px) {
    .grid-m {
        margin-left: 10px;
        margin-right: 10px;
    }

    .grid-main-image {
        width: 60% !important;
    }

    .media-1 {
        grid-template-areas: "pic1 pic1"
            "pic2 pic3"
            "pic4 pic5";

    }

    #grid-c1 {
        /* grid-row: 1/3 ; */
        grid-area: pic1;
    }

    #grid-c2 {
        grid-area: pic2;

    }

    #grid-c3 {
        grid-area: pic3;

    }

    #grid-c4 {
        grid-area: pic4;

    }

    #grid-c5 {
        grid-area: pic5;

    }

}


.btns {
    flex-wrap: wrap;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 0.8rem;
}

.btns button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1%;
    background-color: #f8ea1e;
    padding: 15px;
    width: 290px;
    border: none;
    border-radius: 8px;
}

.card-width2 {
    width: 200px !important;
    height: 480px;
    background-color: #ffff;
}

.card-button-font-size2 {
    font-size: 0.6rem !important;

}


.btns button:hover {

    background-color: #48afff;
    color: white;
    transition: 0.5s;
    font-size: 0.9rem;
}